<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-top: 41px;">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div> -->
      <ul class="nav navbar-nav">
        <li routerLinkActive='active'><a [routerLink]="['/home']">Home</a></li>
        <li routerLinkActive='active'><a [routerLink]="['dataFromJson']">Data From Json</a></li>
        <li routerLinkActive='active'><a [routerLink]="['dataFromCSV']">Data From CSV</a></li>
        <li routerLinkActive='active'><a [routerLink]="['codeMirror']">Code Mirror</a></li>
      </ul>
    </div>
  </nav>